In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
#reading the file to work on through pandas
sheet_order_placed = pd.read_csv("New_order_placed.csv",low_memory=False)
sheet_order_placed

     ORDER_ID                                      ORDER_DETAILS
0       16636  [{"mQty": 10, "mName": "Tomato", "Cat_id": 2, ...
1       16637  [{"mQty": 7, "mName": "Onion", "Cat_id": 2, "m...
2       16638  [{"mQty": 2, "mName": "Onion", "Cat_id": 2, "m...
3       16639  [{"mQty": 10, "mName": "Onion", "Cat_id": 2, "...
4       16640  [{"mQty": 10, "mName": "Onion", "Cat_id": 2, "...
..        ...                                                ...
265     16913  [{"mQty": 5, "mName": "Cabbage", "Cat_id": 2, ...
266     16914  [{"mQty": 0.5, "mName": "Capsicum", "Cat_id": ...
267     16915  [{"mQty": 1, "mName": "Capsicum", "Cat_id": 2,...
268     16916  [{"mQty": 2, "mName": "Broccoli", "Cat_id": 1,...
269     16917  [{"mQty": 5, "mName": "Capsicum", "Cat_id": 2,...

[270 rows x 2 columns]